<h1>User::Homes#top</h1>
<p>Find me in app/views/user/homes/top.html.erb</p>
<p>hshosgfgesuig</p>
<div class="row">
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
</div>