<div class="container">
  <div class="row">
    <h2>検索結果</h2>
  </div>
  <div class="row">
    <div class="col-12">
      <table>
        <thead>
          <tr>
            <th>ジム名</th>
            <th>住所</th>
          </tr>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="pr-5"><%= post.name %></td>
            <td class="pr-5"><%= post.address %></td>
            <td class="pr-5"><%= link_to "詳細", post_path(post.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


